
<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="utf-8")
        title 标题
        include ../../common/include/commonfile.jade

        link(rel="stylesheet" type="text/css" href="./src/build/css/user/login.css")


    body
        input(type="text" placeholder="请输入用户名")
        br
        input(type="password")

    
   //-script(type="text/javascript" src="")