.login-page {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #fff;
  background-size: 100% auto; }

.login-box {
  width: 450px;
  height: 300px;
  position: absolute;
  top: 200px;
  left: 50%;
  margin-left: -250px; }
  .login-box .nav-tabs {
    width: 100%;
    padding: 0;
    margin: 0;
    border-bottom: 0;
    background: rgba(50, 50, 50, 0.3); }
  .login-box .nav-tabs > li {
    width: 33.33%;
    border: 0;
    margin: 0; }
    .login-box .nav-tabs > li > a {
      width: 100%;
      text-align: center;
      border-radius: 0; }
      .login-box .nav-tabs > li > a, .login-box .nav-tabs > li > a:hover {
        color: #fff;
        border: 0;
        margin: 0; }
    .login-box .nav-tabs > li.active {
      background: #0096FF; }
      .login-box .nav-tabs > li.active > a {
        color: #fff;
        border: 0;
        margin: 0;
        background: transparent; }
  .login-box .tab-content {
    background: #0096FF;
    color: #000; }

.tab-item {
  border: 1px solid #eee; }
  .tab-item dl dd {
    margin: 0; }
    .tab-item dl dd label {
      width: 70px;
      height: 100%;
      line-height: 34px;
      text-align: center;
      margin: 0;
      background: #ddd; }
    .tab-item dl dd input {
      padding-left: 120px;
      display: inline;
      border: 0; }
